.App {
  text-align: center;
}

.App{
  background-color: #250f27;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;/*calc(5px + 5vmin);*/
  color: #eee;

  overflow-y: hidden;
  white-space: nowrap;
  padding: 25px;

}

.App-link {
  color: inherit;
}

.App-link:hover{
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 30px white, 0 0 25px #f700ff;
}

.Actions{
  border: 1px solid #eee;
  background: inherit;
  opacity: 1;
  z-index: 10;
  margin-bottom: 25px;
}

.Main-Content{
  border: 1px solid #eee;
  height: 75vh;
  overflow-y: scroll;
}