.App {
	font-size: 3vmin;
	color: #eeeeee;	

	background-color: #250f27;

	min-height: 100vh;

	display: flex;
	flex-direction: column;

	/*text-align: center;*/
	align-items: center;
	justify-content: center;	

	overflow: hidden;
	padding: 25px;

}

.App-link {
	color: inherit;
	text-shadow: 0 0 10px #f700ff;

	transition: color 2s ease;
	transition: text-shadow 2s ease;
}

.App-link:hover{
	color: #fff;
	text-shadow: 0 0 15px white, 0 0 10px #f700ff;

	transition: color 333ms ease;
	transition: text-shadow 333ms ease;

	cursor: pointer;
}

.Actions{
	background-color: inherit;/*#351f37;*/
	opacity: 1;
	z-index: 10;
	margin-bottom: 5vh;
}

.Main-Content{
	background-color: #351f37;
	/*border: 1px dashed yellow;*/

	/*width: 75vw;*/
	min-width: 600px;
	max-width: 900px;

	height: 75vh;
	min-height: 600px;
	/*max-height: 900px;*/

	overflow-y: scroll;
	overflow-x: wrap;
}

.contentEnd-filler{
	padding-bottom: 5vmin;
}

.content-filler{
	height: 5vh;
}

.row{
	margin: 5vh;
	/*border: 1px dashed yellow;*/
	/*box-shadow: 0px 0px 1px yellow;*/
}

div.content-piece{
	overflow: wrap;
}

.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

/* Begin animation snippet */
/* Adapted from: */
/* https://stackoverflow.com/questions/61827640/react-fade-in-on-add-fade-out-on-remove-item */

.item-fadein {
    -webkit-animation: fadein 1500ms ease forwards;
    animation: fadein 1500ms ease forwards;
}
.item-fadeout{
	/*border: 1px dashed yellow;*/
	-webkit-animation: fadeout 500ms ease forwards;
    animation: fadeout 500ms ease forwards;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* End animation snippet */

li{
	list-style-type: none;
}

hr{
	border: 2px solid #250f27;
}

/*Scrollbars adapted from*/
/*https://www.digitalocean.com/community/tutorials/css-scrollbars*/

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #eeeeee #250f27;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 1vmin;
}

*::-webkit-scrollbar-track {
	background: #250f27;
}

*::-webkit-scrollbar-thumb {
	background-color: #eeeeee;
}