// https://stackoverflow.com/questions/33948011/creating-a-starry-background-in-css
// https://codepen.io/saransh/pen/BKJun

// @import compass // NO I do not want to

// n is number of stars required
// generates stars randomly in a box 4000px square centered on 
// the original div (in my case the center of the top)
@function multiple-box-shadow($n) {
  $value: '#{random(4000)-2000}px #{random(4000)-2000}px #FFF'; // first shadow
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(4000)-2000}px #{random(4000)-2000}px 1px #FFF';
  }

  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(1500);
$shadows-medium: multiple-box-shadow(500);
$shadows-big:    multiple-box-shadow(250);

$runtime-small: 1000s;
$runtime-medium: 700s;
$runtime-big: 500s;

.stars {
  margin-left: 50%; // effectively centered at top
  
  animation-play-state: running;
  -webkit-animation-play-state: running;
}

// javascript adds this to pause animation
.no-animate {
  -webkit-animation-play-state: paused !important;
   animation-play-state: paused !important; 
}

#stars {
    width: 1px;
    height: 1px;
    // background: transparent;
    box-shadow: $shadows-small;
    animation: animStar $runtime-small linear infinite;
}

// I don't believe these serve any porpoise here, but I'm leaving
// it for posterity. And in case something breaks.
// #stars:after {
//     // content: " ";
//     position: absolute;
//     top: 2000px;
//     width: 1px;
//     height: 1px;
//     background: transparent;
//     box-shadow: $shadows-small;
// }

#stars2 {
    width: 2px;
    height: 2px;
    // background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar $runtime-medium linear infinite;
}

// #stars2:after {
//     // content: " ";
//     position: absolute;
//     top: 2000px;
//     width: 2px;
//     height: 2px;
//     background: transparent;
//     box-shadow: $shadows-medium;
// }

#stars3 {
    width: 3px;
    height: 3px;
    // background: transparent;
    box-shadow: $shadows-big;
    animation: animStar $runtime-big linear infinite;
}

// #stars3:after {
//     // content: " ";
//     position: absolute;
//     top: 2000px;
//     width: 3px;
//     height: 3px;
//     background: transparent;
//     box-shadow: $shadows-big;
// }

@keyframes animStar {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
